<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="clear top10"></div>
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 panel panel-default">
		<pre>
			Job Details
			<span class="shiftLeft">Job Title: {{job.jobTitle}}</span>
			<span class="shiftLeft">Job Description: {{job.jobDescription}}</span>
			<span class="shiftLeft">Skills Required: {{job.skillsRequired}}</span>
			<span class="shiftLeft">Location: {{job.location}}</span>
			<span class="shiftLeft">Company Name: {{job.companyName}}</span>
			<span class="shiftLeft">Salary: {{job.salary}}</span>
			<span class="shiftLeft">Posted On: {{job.yearsOfExp}}</span>
			<span class="shiftLeft">Years Of Experience: {{job.postedOn | date:'MMM dd, yyyy @ hh:mm a'}}</span>
		</pre>
		<div class="clear top10"></div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
	<div class="clear top10"></div>
</div>